@model ApnaKaryala.DTO.Master.EmployeeDto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Employee</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item">Employee List</li>
                        <li class="breadcrumb-item active">Add New
                        <li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a class="btn add-btn" id="addemp" href="@Url.Action("Index")"><i class="fa fa-plus"></i>Back</a>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("Submit", "Employee", FormMethod.Post))
        {


            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>First Name <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.First_Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Middle Name <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.Middle_Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Last Name <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.Last_Name, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Gender <span class="text-danger">*</span></label>
                        @Html.DropDownListFor(model => model.GenderId, new SelectList(ViewBag.gender,"GenderId","GenderName"), "Select Gender", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Father Name <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.FatherName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Mother Name <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.MotherName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>DOB<span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>DOJ<span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>DOR<span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Address 1<span class="text-danger">*</span></label>

                        @Html.TextAreaFor(x => x.Last_Name, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Address 2<span class="text-danger">*</span></label>
                        @Html.TextAreaFor(x => x.Last_Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Address 3<span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            @Html.TextAreaFor(x => x.Address3, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Pin Code<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.Pincode, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>State<span class="text-danger">*</span></label>
                        @Html.DropDownListFor(model => model.StateId, new SelectList(ViewBag.state, "StateId", "StateName"), "Select State", new { @id="state", @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>District<span class="text-danger">*</span></label>

                        <select id="city" class="form-control" ></select><br />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Phone(Land Line)<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.Pincode, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Mobile No<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.Pincode, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>DOL<span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Email Id<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">

                        <label>Adhaar No.<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.AdhaarNo, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>PAN Card<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.PANCardNo, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Highest Qualification<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.HighestQualification, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Is Supervisor<span class="text-danger">*</span></label>
                        @Html.CheckBoxFor(x => x.ISSupervisor, new { @class = "checkbox" })
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Is Active<span class="text-danger">*</span></label>
                        @Html.CheckBoxFor(x => x.IsActive, new { @class = "checkbox" })
                    </div>
                </div>
                <div class="col-sm-4">
                    @*<div class="form-group">
                <label>Is Supervisor<span class="text-danger">*</span></label>
                @Html.CheckBoxFor(x => x.ISSupervisor, new { @class = "checkbox" })
            </div>*@
                </div>



            </div>

            <div class="submit-section">
                <input type="submit" value="Save" name="save" class="btn btn-primary submit-btn" />
                @*<button class="btn btn-primary submit-btn" type="submit">Save</button>*@
            </div>
        }

    </div>
<script src="~/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="~/assets/js/jquery.slimscroll.min.js"></script>

<!-- Select2 JS -->
<script src="~/assets/js/select2.min.js"></script>

<!-- Datetimepicker JS -->



<script>

    $(document).ready(function () {

        $("#state").change(function () {
            var id = $(this).val();
            $("#city").empty();
            $.get("City_Bind", { state_id: id }, function (data) {
                var v = "<option>---Select---</option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#city").html(v);
            });
        });
    });
</script>
<style>
</style>
